details {
  margin: 1rem 0;
  border: 1px solid #c1c1c1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

details summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  padding: .5rem 1rem;
}

details summary:focus, details summary:hover {
  color: #333333;
}

details > .details-wrapper {
  padding: .5rem 1rem;
}

details > .details-wrapper > .description {
  margin-bottom: .5rem;
}
