.ui-dialog {
  box-shadow: 0 0 2px #c1c1c1;
}

.ui-dialog.ui-widget {
  font-family: "HelveticaNeue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.ui-dialog.ui-widget-content,
.ui-dialog .ui-widget-content {
  border: 0;
}

.ui-dialog.ui-corner-all,
.ui-dialog .ui-dialog-titlebar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.ui-dialog .ui-dialog-titlebar {
  position: relative;
  padding: 1rem;
  background: #eeeeee;
  border: 0;
  font-size: 1em;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 1rem;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent !important;
  background-image: url(../../images/close.svg) !important;
  border: 0 !important;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon {
  width: auto;
}

.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  padding: 0;
}

.ui-dialog .ui-widget-header {
  color: #333333;
}

.ui-dialog .ui-dialog-content {
  padding: 1rem;
  overflow: auto;
}

.ui-dialog .ui-dialog-buttonset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  text-align: right;
}
