.navbar {
  background: 0;
}

.fancy-logo {
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.fancy-logo .navbar-brand {
  margin: 20px;
  display: inline-block;
  padding: 0;
}

.fancy-logo::after {
  -webkit-transform: rotate(16.5deg) skew(-29deg);
          transform: rotate(16.5deg) skew(-29deg);
  will-change: transform, width;
  background: #62b3e5;
  content: " ";
  position: absolute;
  display: block;
  z-index: -1;
  top: -84px;
  left: -60px;
  width: 200px;
  height: 200px;
}

.fancy-logo:not(.fixed)::after {
  -webkit-transition: width .2s, -webkit-transform .2s ease .2s;
  transition: width .2s, -webkit-transform .2s ease .2s;
  transition: width .2s, transform .2s ease .2s;
  transition: width .2s, transform .2s ease .2s, -webkit-transform .2s ease .2s;
  -webkit-transform: rotate(16.5deg) skew(-29deg);
          transform: rotate(16.5deg) skew(-29deg);
}

.fancy-logo.fixed::after {
  -webkit-transition: width .2s ease .2s, -webkit-transform .2s;
  transition: width .2s ease .2s, -webkit-transform .2s;
  transition: transform .2s, width .2s ease .2s;
  transition: transform .2s, width .2s ease .2s, -webkit-transform .2s;
  -webkit-transform: rotate(0) skew(0) translate3d(60px, -40px, 0);
          transform: rotate(0) skew(0) translate3d(60px, -40px, 0);
  width: 100%;
}

.navbar-toggler {
  margin: 18px 1rem;
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin: 0;
  }
}

.region-navigation-collapsible {
  position: fixed;
  z-index: 2;
  right: 0;
  top: 0;
}

.region-navigation-collapsible .navbar-collapse {
  clear: both;
  margin: .5rem;
}

@media (max-width: 991px) {
  .region-navigation-collapsible .navbar-collapse {
    margin: 1rem;
    background: #62b3e5;
  }
}

.toolbar-fixed .fancy-logo, .toolbar-fixed .region-navigation-collapsible {
  top: 39px;
}

.toolbar-horizontal.toolbar-tray-open .fancy-logo, .toolbar-horizontal.toolbar-tray-open .region-navigation-collapsible {
  top: 78px;
}
