.field-ui-overview .field-plugin-settings-edit:not([disabled]) {
  background-image: url(/core/misc/icons/787878/cog.svg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1rem;
}
