{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% extends 'media-card.html.twig' %}

{# Remove the block content from the parent. #}
{% block actions %}{% endblock %}

{% block card_content %}
  <div class="card-img-overlay">
    {{ parent() }}
  </div>
{% endblock %}
