@import "index";
@import "bootstrap/scss/type";

// Links
//
//
a {
  &:visited {
    color: $link-visited-color;
  }
  &:visited:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
  &.disabled, &[disabled] {
    color: $link-disabled-color;
    pointer-events: none;
    cursor: not-allowed;
  }
}
