@import "index";

// Fonts
//
//
// @todo load them faster?
// @todo get legal versions from https://perspectives.tieto.com/blog/
// @todo simplify syntax.
@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$font-path}/HelveticaNeueLTCom-Th.eot');
  src: url('#{$font-path}/HelveticaNeueLTCom-Th.eot?#iefix') format('embedded-opentype'),
     url('#{$font-path}/HelveticaNeueLTCom-Th.woff2') format('woff2'),
     url('#{$font-path}/HelveticaNeueLTCom-Th.woff') format('woff'),
     url('#{$font-path}/HelveticaNeueLTCom-Th.ttf')  format('truetype'),
     url('#{$font-path}/HelveticaNeueLTCom-Th.svg#HelveticaNeueLTCom-Th') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$font-path}/HelveticaNeueLTCom-Lt.eot');
  src: url('#{$font-path}/HelveticaNeueLTCom-Lt.eot?#iefix') format('embedded-opentype'),
     url('#{$font-path}/HelveticaNeueLTCom-Lt.woff2') format('woff2'),
     url('#{$font-path}/HelveticaNeueLTCom-Lt.woff') format('woff'),
     url('#{$font-path}/HelveticaNeueLTCom-Lt.ttf')  format('truetype'),
     url('#{$font-path}/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLTCom-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$font-path}/HelveticaNeueLTCom-Roman.eot');
  src: url('#{$font-path}/HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'),
     url('#{$font-path}/HelveticaNeueLTCom-Roman.woff2') format('woff2'),
     url('#{$font-path}/HelveticaNeueLTCom-Roman.woff') format('woff'),
     url('#{$font-path}/HelveticaNeueLTCom-Roman.ttf')  format('truetype'),
     url('#{$font-path}/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('#{$font-path}/HelveticaNeueLTCom-Hv.eot');
  src: url('#{$font-path}/HelveticaNeueLTCom-Hv.eot?#iefix') format('embedded-opentype'),
     url('#{$font-path}/HelveticaNeueLTCom-Hv.woff2') format('woff2'),
     url('#{$font-path}/HelveticaNeueLTCom-Hv.woff') format('woff'),
     url('#{$font-path}/HelveticaNeueLTCom-Hv.ttf')  format('truetype'),
     url('#{$font-path}/HelveticaNeueLTCom-Hv.svg#HelveticaNeueLTCom-Hv') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

// Links
//
//
a {
  &:visited {
    color: $link-visited-color;
  }
  &:visited:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
  &.disabled, &[disabled] {
    color: $link-disabled-color;
    pointer-events: none;
    cursor: not-allowed;
  }
}
