# Vendor directories.
node_modules/

# Local configuration.
gulp/config.local.js

# Compiled assets.
# Ideally, these will build on the server.
# css/*
# js/*
# fonts/*
# img/*

# Generated style guide
styleguide/*

# Sourcemaps
css/**/*.css.map
js/**/*.js.map
