// Variables

// Colors can be altered by using SASS's default map-set, map-merge functions
$colors: (
  white: #fff,
  black: #000,
  blue-very-light: #e9f0f5,
  blue-lightest: #cce5f4,
  blue-light: #9acaeb,
  blue: #62b3e5,
  blue-darker: #2c89c3,
  blue-dark: #0065a0,
  red-lightest: #eed9e1,
  red-light: #f0b3ca,
  red: #e56385,
  red-darker: #dd3a76,
  red-dark: #d51067,
  green-lightest: #d7e8c4,
  green-light: #bde093,
  green: #6cc04a,
  green-darker: #28a834,
  green-dark: #00833e,
  orange-lightest: #ffe1c6,
  orange-light: #ffbe85,
  orange: #f78d2d,
  orange-darker: #e57a18,
  orange-dark: #d75f00,
  grey-lightest: #eeeeee,
  grey-light: #d2d2d2,
  grey-lighter: #c1c1c1,
  grey: #999999,
  grey-darker: #7b7b7b,
  grey-dark: #5e5e5e,
  grey-darkest: #333333
);

@function color($name) {
  @return map-get($colors, $name);
}

// Override some Bootstrap variables.
$enable-flex: true;

$brand-primary: color(blue);
$brand-success: color(green);
$brand-info: color(blue-light);
$brand-warning: color(orange);
$brand-danger: color(red);

$link-color: color(blue-dark);
$link-hover-color: color(red-dark);
$link-hover-decoration: none;
$link-active-color: color(red);
$link-visited-color: color(blue);
$link-disabled-color: color(grey-darker);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-path: '../../fonts'; // Custom webfont's path
$font-family-sans-serif:
  'HelveticaNeue', // Custom webfont
  -apple-system, // Safari for OS X and iOS (San Francisco)
  BlinkMacSystemFont, // Chrome for OS X (San Francisco)
  "Segoe UI", // Windows
  "Roboto", // Android
  "Oxygen", // Linux KDE
  "Ubuntu", // Linux GNOME
  "Cantarell", // Linux GNOME
  "Fira Sans", // Firefox OS [R.I.P.]
  "Droid Sans", // Older Android
  "Helvetica Neue", Arial, sans-serif; // Basic web fallback
$font-size-root: 16px;
$line-height-base: 1.6;

$navbar-border-radius: 0;

$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 2px;
$nav-tabs-active-link-hover-color: #fff;
$nav-tabs-active-link-hover-bg: $brand-primary;
$tabs-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .1);

// Pagination

$pagination-padding-x:                .75rem;
$pagination-padding-y:                .25rem;

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: none;
$breadcrumb-divider: ">"; // @fixme
