// Variables

// Tieto brand colors
// @todo Move/merge this with the Style Guide partials!
$tieto-blue-very-light: #e9f0f5;
$tieto-blue-lightest: #cce5f4;
$tieto-blue-light: #9acaeb;
$tieto-blue: #62b3e5;
$tieto-blue-darker: #2c89c3;
$tieto-blue-dark: #0065a0;

$tieto-red-lightest: #eed9e1;
$tieto-red-light: #f0b3ca;
$tieto-red: #e56385;
$tieto-red-darker: #dd3a76;
$tieto-red-dark: #d51067;

$tieto-green-lightest: #d7e8c4;
$tieto-green-light: #bde093;
$tieto-green: #6cc04a;
$tieto-green-darker: #28a834;
$tieto-green-dark: #00833e;

$tieto-orange-lightest: #ffe1c6;
$tieto-orange-light: #ffbe85;
$tieto-orange: #f78d2d;
$tieto-orange-darker: #e57a18;
$tieto-orange-dark: #d75f00;

$tieto-grey-lightest: #eeeeee;
$tieto-grey-light: #d2d2d2;
$tieto-grey-lighter: #c1c1c1;
$tieto-grey: #999999;
$tieto-grey-darker: #7b7b7b;
$tieto-grey-dark: #5e5e5e;
$tieto-grey-darkest: #333333;

// Override some Bootstrap variables.
//
// Options
//
//

$enable-flex:               true;
// $enable-rounded:            true !default;
$enable-shadows:            true;
// $enable-gradients:          false !default;
$enable-transitions:        true;
// $enable-hover-media-query:  false !default;
// $enable-grid-classes:       true !default;
// $enable-print-styles:       true !default;

$brand-primary: $tieto-blue;
$brand-success: $tieto-green;
$brand-info: $tieto-blue-light;
$brand-warning: $tieto-orange;
$brand-danger: $tieto-red;

$link-color: $tieto-blue-dark;
$link-hover-color: $tieto-red-dark;
$link-hover-decoration: none;
$link-active-color: $tieto-red;
$link-visited-color: $tieto-blue;
$link-disabled-color: $tieto-grey-darker;

// Typography
//
//

$font-path: '../../fonts'; // Custom webfont's path
$font-family-sans-serif:
  'HelveticaNeue', // Custom webfont
  -apple-system, // Safari for OS X and iOS (San Francisco)
  BlinkMacSystemFont, // Chrome for OS X (San Francisco)
  "Segoe UI", // Windows
  "Roboto", // Android
  "Oxygen", // Linux KDE
  "Ubuntu", // Linux GNOME
  "Cantarell", // Linux GNOME
  "Fira Sans", // Firefox OS [R.I.P.]
  "Droid Sans", // Older Android
  "Helvetica Neue", Arial, sans-serif; // Basic web fallback
$font-size-root: 16px;
$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

$line-height-base: 1.6;

// Components
//
//

$navbar-border-radius: 0;

$navbar-padding-x: 0;
$navbar-padding-y: 0;

$navbar-dark-color:                 rgba(255,255,255,.75);
$navbar-dark-hover-color:           rgba(255,255,255,1);

$nav-tabs-border-width: 0;
$nav-tabs-active-link-hover-color: #fff;
$nav-tabs-active-link-hover-bg: $brand-primary;
$tabs-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .1);

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: none;
$breadcrumb-divider: ">"; // @fixme

// Buttons
//
//

$btn-padding-x:                  1rem;
$btn-padding-y:                  .25rem;

$btn-padding-x-sm:               .5rem;
$btn-padding-y-sm:               .125rem;

$btn-padding-x-lg:               1.5rem;
$btn-padding-y-lg:               .5rem;

// $btn-line-height:                1.25 !default;
$btn-font-weight:                bold;
$btn-box-shadow:                 0px 1px 3px 0px rgba(0,0,0,.2);
$btn-active-box-shadow:          inset 0px 0px 2px 0px rgba(0,0,0,.2);

$btn-color:              $tieto-grey-dark;
$btn-bg:                 $tieto-grey-lightest;
$btn-border:             $tieto-grey;

$btn-disabled-color:              $tieto-grey-lighter;
$btn-disabled-bg:                 $tieto-grey-lightest;
$btn-disabled-border:             $tieto-grey-lightest;

$btn-primary-color:              #fff;
$btn-primary-bg:                 $tieto-blue;
$btn-primary-border:             $tieto-blue-darker;

$btn-primary-plain-color: $tieto-blue-dark;
$btn-primary-plain-border: $tieto-blue;

$btn-success-plain-color: $tieto-green-dark;
$btn-success-plain-border: $tieto-green;

$btn-warning-plain-color: $tieto-orange-dark;
$btn-warning-plain-border: $tieto-orange;

$btn-danger-plain-color: $tieto-red-dark;
$btn-danger-plain-border: $tieto-red;

$btn-disabled-plain-color: $tieto-grey-lighter;
$btn-disabled-plain-border: $tieto-grey-light;
$btn-disabled-plain-bg: transparent;

$btn-border-radius:              2px;
$btn-border-radius-lg:           3px;

$btn-link-disabled-color: $btn-disabled-color;


// $btn-secondary-color:            $gray-dark !default;
// $btn-secondary-bg:               #fff !default;
// $btn-secondary-border:           #ccc !default;

// $btn-info-color:                 #fff !default;
// $btn-info-bg:                    $brand-info !default;
// $btn-info-border:                $btn-info-bg !default;

// $btn-success-color:              #fff !default;
// $btn-success-bg:                 $brand-success !default;
// $btn-success-border:             $btn-success-bg !default;

// $btn-warning-color:              #fff !default;
// $btn-warning-bg:                 $brand-warning !default;
// $btn-warning-border:             $btn-warning-bg !default;

// $btn-danger-color:               #fff !default;
// $btn-danger-bg:                  $brand-danger !default;
// $btn-danger-border:              $btn-danger-bg !default;

// $btn-block-spacing-y:            .5rem !default;
// $btn-toolbar-margin:             .5rem !default;

// Tables
// $table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .5rem;
$table-header-color: $tieto-grey-darker;

// $table-bg:                      transparent !default;
// $table-bg-accent:               rgba(0,0,0,.05) !default;
// $table-bg-hover:                rgba(0,0,0,.075) !default;
// $table-bg-active:               $table-bg-hover !default;

// $table-border-width:            $border-width !default;
// $table-border-color:            $gray-lighter !default;
