@import "index";

html,
body {
	height: 100%;
}

.styleguide {
	display: flex;
	height: 100%;

	a {
		&:focus {
			outline: none;
		}
	}

	&__aside {
		padding: 2rem;
		width: calc(100% / 4);
		background: #f8f8f8;
		overflow-y: auto;

		@media (min-width: 1580px) {
			width: calc(100% / 5);
		}
	}

	&__logo {
		text-align: center;
		margin-bottom: 2rem;
	}

	&__nav {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			a {
				display: inline-block;
				white-space: nowrap;
			}

			ul {
				//display: none;
				margin-left: .5rem;
			}

			li {
				position: relative;
				padding: .5rem 1rem;

				&.is-open {
					> ul {
						display: block;
					}
				}
			}
		}

		> ul {
			> li {
				> a {
					font-size: 1.5rem;
				}
			}
		}
	}

	&__content {
		padding: 2rem;
		overflow-y: auto;
		width: calc(100% / 4 * 3);

		@media (min-width: 1580px) {
			width: calc(100% / 5 * 4);
		}
	}

	&__section {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	&__anchor {
		display: inline-block;
		margin-right: .25rem;

		&,
		&:visited {
			color: color(grey-light);
		}

		&:hover {
			color: color(red);
		}
	}

	&__colors {
		width: 100%;
		table-layout: fixed;

		th,
		td {
			padding: 1rem;
			text-align: center;
		}

		th {
			text-transform: capitalize;
			font-weight: 400;
		}

		td {
			color: #fff;
		}
	}

	&__brand-colors {
		tbody {
			tr:nth-child(-n + 2) {
				td {
					color: $body-color;
				}
			}
		}
	}

	&__grey-colors {
		tbody {
			tr {
				td:nth-child(-n + 2) {
					color: color(grey-darkest);
				}
			}
		}
	}
}