@import "index";
@import "bootstrap/scss/forms";

.form-control {
  font-family: inherit;
}

.form-label {
  font-weight: $label-font-weight;
  font-size: $label-font-size;
  color: $label-color;
  cursor: pointer;
}

.form-inline .form-label,
.col-form-label {
  text-transform: uppercase;
  font-weight: $font-weight-normal;
}

.text-format-wrapper .form-group {
  margin-bottom: 0;
}

.form-group {
  // This is needed to fix weird line-heights with <small>.
  > .description {
    display: inline-block;
    margin-top: .25rem;
  }
}

/**
 * @file
 * Fieldgroup border reset.
 *
 * @todo What is this? Replace with Bootstrap styles.
 */
.fieldgroup {
  border-width: 0;
  padding: 0;
}
