@import "index";
@import "bootstrap/scss/forms";

.form-control {
  font-family: inherit;

  &.error {
    border-color: $brand-danger;
  }
}

.form-label {
  font-weight: $label-font-weight;
  font-size: $label-font-size;
  color: $label-color;
  cursor: pointer;
}

.form-inline .form-label,
.col-form-label {
  text-transform: uppercase;
  font-weight: $font-weight-normal;
}

.text-format-wrapper .form-group {
  margin-bottom: 0;
}

.form-group,
.checkbox {
  // This is needed to fix weird line-heights with <small>.
  > .description {
    display: inline-block;
    margin-top: .25rem;
  }
}

// Bootstrap uses `has-danger`, but `has-error` is much better.
.has-error {
  @include form-control-validation($brand-danger);

  .form-label {
    color: $brand-danger;
  }
}

select.form-control {
  &:not([size]):not([multiple]) {
    height: calc(#{$input-height} - #{($border-width * 4)} - #{($component-padding-y)});
  }
}

/**
 * @file
 * Fieldgroup border reset.
 *
 * @todo What is this? Replace with Bootstrap styles.
 */
.fieldgroup {
  border-width: 0;
  padding: 0;
}
