@import "index";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

.tabs {
  margin-top: $spacer-y;
  border-bottom: 3px solid $brand-primary;

  .nav-item + .nav-item {
    margin-left: 1px;
  }

  .nav-item.active {
    box-shadow: $tabs-box-shadow;
  }

  .nav-link {
    padding: .4em 1em;
    line-height: normal;

    &.is-active {
      background-color: $brand-primary;
      color: #fff;
    }
  }

  &.tabs--primary {
    .nav-link {
      background-color: $tieto-blue-lightest;
      &.is-active {
        background-color: $brand-primary;
        color: #fff;
      }
    }
  }

  &.tabs--header {
    border-bottom: 0;
    .nav-link {
      background-color: $tieto-blue-lightest;
      color: $link-color;
      padding: .5em 2em;

      &.is-active {
        background-color: #fff;
      }
    }
  }

  &.tabs--primary,
  &.tabs--header {
    .nav-item {
      box-shadow: $tabs-box-shadow;
    }
  }

  &.tabs--sm {
    border-bottom-width: 2px;
    font-size: $font-size-sm;
  }
}

