@import "index";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

// Logo
.navbar-brand img {
  display: inline-block;
  margin: 1rem;
  height: 30px;
}

/*
  Tabs

  Use tabs to create groups of content and show only one group at a time.

  Markup:
  <div class="bg-blue pt-1">
    <ul class="tabs tabs--header nav nav-tabs">
      <li class="nav-item">
        <a href="#" class="nav-link">First</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link is-active">Second</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Third</a>
      </li>
    </ul>
  </div>

  Style guide 4.3
*/
.tabs {
  border-bottom: 3px solid $brand-primary;

  .nav-item + .nav-item {
    margin-left: 1px;
  }

  .nav-link {
    padding: .4em 1em;
    line-height: normal;
    color: $link-color;
  }
}

.tabs--header {
  clear: both;
  border-bottom: 0;

  @include media-breakpoint-up(sm) {
    margin-left: 1em;
  }

  .nav-link {
    background-color: color(blue-lightest);
    color: $link-color;
    padding: .5em 2em;

    &.is-active {
      background-color: #fff;
      color: $link-color;
    }
  }
}

/*
  Color variants

  Markup:
  <ul class="tabs tabs--header nav nav-tabs {{modifier_class}}">
    <li class="nav-item">
      <a href="#" class="nav-link">First</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link is-active">Second</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">Third</a>
    </li>
  </ul>

  .tabs--primary - Primary color
  .tabs--secondary - Secondary color

  Style guide 4.3.1
*/
.tabs--primary {
  .nav-link {
    background-color: color(blue-lightest);

    &.is-active {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

.tabs--secondary {
  border: 0;
  background-color: color(grey-lightest);

  .nav-link {
    &.is-active {
      color: $body-color;
    }
  }
}


/*
  Size variants

  Markup:
  <div class="bg-blue pt-1">
    <ul class="tabs tabs--header nav nav-tabs {{modifier_class}}">
      <li class="nav-item">
        <a href="#" class="nav-link">First</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link is-active">Second</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Third</a>
      </li>
    </ul>
  </div>

  .tabs--lg - Larger tabs
  .tabs--sm - Smaller tabs

  Style guide 4.3.2
*/
.tabs--sm {
  border-bottom-width: 2px;
  font-size: $font-size-sm;
}

.tabs--lg {
  border-bottom-width: 4px;
  font-size: $font-size-lg;
}