@import "index";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

// Logo
.navbar-brand img {
  display: inline-block;
}

// Tabs
.tabs {
  border-bottom: 3px solid $brand-primary;

  .nav-item + .nav-item {
    margin-left: 1px;
  }

  .nav-link {
    padding: .4em 1em;
    line-height: normal;
    color: $link-color;
  }
}

// Sizes
.tabs--sm {
  border-bottom-width: 2px;
  font-size: $font-size-sm;
}

.tabs--lg {
  border-bottom-width: 4px;
  font-size: $font-size-lg;
}

.tabs--header {
  clear: both;
  border-bottom: 0;

  @include media-breakpoint-up(sm) {
    margin-left: 1em;
  }

  .nav-link {
    background-color: color(tieto-blue-lightest);
    color: $link-color;
    padding: .5em 2em;

    &.is-active {
      background-color: #fff;
      color: $link-color;
    }
  }
}

// Variants
.tabs--primary {
  .nav-link {
    background-color: color(tieto-blue-lightest);

    &.is-active {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

.tabs--secondary {
  border: 0;
  background-color: color(tieto-grey-lightest);

  .nav-link {
    padding: .5em 1em;
    &.is-active {
      color: $body-color;
    }
  }
}
