@import "index";
@import "bootstrap/scss/pagination";

// https://imgflip.com/i/1cqdv1

/*
	Pagination

	<ul class="pagination">
    <li class="page-item previous">
      <a class="page-link" href="#">
        <
      </a>
    </li>
		<li class="page-item">
			<a class="page-link" href="#">
				1
			</a>
		</li>
    <li class="page-item active">
      <a class="page-link" href="#">
        2
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">
        3
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">
        4
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">
        5
      </a>
    </li>
    <li class="page-item previous">
      <a class="page-link" href="#">
        >
      </a>
    </li>
	</ul>

	Style guide 4.6
*/
.page-item {
  &:first-child .page-link {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:last-child .page-link {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &.active {
    .page-link {
      &,
      &:hover,
      &:focus {
        background: #fff;
        color: color(grey);
        border-color: currentColor;
      }
    }
  }
}

.page-link {
  border-color: transparent;
}
