@import "index";
@import "bootstrap/scss/tables";

/**
 * @file
 * Table header behavior.
 *
 * @see tableheader.js
 *
 * @todo REFACTOR for Bootstrap
 */

table.sticky-header {
  background-color: #fff;
  margin-top: 0;
  z-index: 500;
  top: 0;
}
