// Skewed Tieto logo with animation.
//
// @todo Use normal SVG instead of this sk(r)ewed mess!
@import "index";

$logo-transform: rotate(16.5deg) skew(-29deg);

.navbar-brand {
  display: block;
  float: left;
  padding-left: 14px;

  img {
    margin: 1rem 0;
  }

  &::after {
    transform: $logo-transform;
    will-change: transform, width;

    background: color(blue);
    content: " ";
    position: absolute;
    display: block;
    z-index: -1;

    top: -84px;
    left: -60px;

    width: 200px;
    height: 200px;
  }

  &.not-fixed::after {
    transition: width .2s, transform .2s ease .2s;
    transform: $logo-transform;
  }

  &.fixed::after {
    transition: transform .2s, width .2s ease .2s;
    transform: rotate(0) skew(0) translate3d(60px, -40px, 0);
    width: 100%;
  }

  // Make horizontal bar and logo smaller on mobile
  @include media-breakpoint-down(md) {
    &::after {
      top: -105px;
    }

    img {
      width: 80px;
      height: 53px;
      margin: 0;
    }
  }
}
