// Helpers
//
// Stuff like .float-left, .text-bold, etc.
@import "index";

// All Bootstrap utilities
// @import "bootstrap/scss/utilities";

// Specific Bootstrap utilities
@import "bootstrap/scss/utilities/align";
@import "bootstrap/scss/utilities/background";
@import "bootstrap/scss/utilities/borders";
@import "bootstrap/scss/utilities/clearfix";
@import "bootstrap/scss/utilities/display";
@import "bootstrap/scss/utilities/flex";
@import "bootstrap/scss/utilities/float";
// @import "bootstrap/scss/utilities/screenreaders";
@import "bootstrap/scss/utilities/spacing";
@import "bootstrap/scss/utilities/text";
@import "bootstrap/scss/utilities/visibility";

// Reset default form element look.
.reset-appearance {
  appearance: none;
  border: 0 none;
  background: transparent;
  padding: 0;
  margin: 0;
  line-height: inherit;
}

// Resizable textareas
// @todo move this to form elements.
.resize-none {
  resize: none;
}
.resize-vertical {
  resize: vertical;
  min-height: 2em;
}
.resize-horizontal {
  resize: horizontal;
  max-width: 100%;
}
.resize-both {
  resize: both;
  max-width: 100%;
  min-height: 2em;
}

// Nowrap
.nowrap {
  white-space: nowrap;
}

/**
 * @file
 * Alignment classes for text and block level elements.
 *
 * @todo Check if conflicts with Bootstarp + REFACTOR
 */
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}

/**
 * Alignment classes for block level elements (images, videos, blockquotes, etc.)
 */
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Screen Readers
// @fixme Replace every "visually-hidden" class to "sr-only" in core.
.visually-hidden,
.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only();
  @include sr-only-focusable();
}

// Carets
.caret-down,
.caret-up {
  @include caret-base();
}

.caret-down {
  @include caret(down);
}

.caret-up {
  @include caret(up);
}
