@import "index";

.block-local-actions-block,
.block-help {
  margin: $spacer 0;
}

.block-local-tasks-block {
  margin-bottom: $spacer;
}

.block {
  > h2 {
    font-size: $font-size-base;
    font-weight: bold;
    text-transform: uppercase;
    color: color(grey-darker);
  }

  .region-sidebar & {
    margin-bottom: $spacer;
  }
}
