// Regions
//
//
@import "index";

.region__header {
  margin-bottom: $spacer;
}

.region__footer {
  padding: $spacer 0;
  border-top: 1px solid $brand-primary;
  line-height: 50px;
  margin-top: 2 * $spacer;
}

.footer__logo {
  float: right;
  height: 50px;
}

.page__title {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.block-local-actions-block,
.block-help {
  margin: $spacer 0;
}

.block-local-tasks-block {
  margin-bottom: $spacer;
}
