{% extends "@block/block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    <nav class="action-links">
      <ul class="nav nav-pills">
        {{ content }}
      </ul>
    </nav>
  {% endif %}
{% endblock %}
