/**
 * @file
 * Utility classes to assist with Javascript functionality.
 *
 * @todo Move this somewhere?
 */

/**
 * For anything you want to hide on page load when JS is enabled, so
 * that you can use the JS to control visibility and avoid flicker.
 */
.js .js-hide {
  display: none;
}

/**
 * For anything you want to show on page load only when JS is enabled.
 */
.js-show {
  display: none;
}
.js .js-show {
  display: block;
}

/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 *
 * @todo Move this to `details.scss`?
 */
.js details:not([open]) .details-wrapper {
  display: none;
}

/**
 * @file
 * Visual styles for animated throbber.
 *
 * @see autocomplete.js
 *
 * @todo REFACTOR
 */

.js input.form-autocomplete {
  background-image: url(../../../images/core/throbber-inactive.png);
  background-position: 100% center; /* LTR */
  background-repeat: no-repeat;
}
.js[dir="rtl"] input.form-autocomplete {
  background-position: 0% center;
}
.js input.form-autocomplete.ui-autocomplete-loading {
  background-image: url(../../../images/core/throbber-active.gif);
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
}
