// Regions
//
//
@import "index";

.footer {
  padding: $spacer 0;
  border-top: 1px solid color(grey-light);
  margin-top: 2 * $spacer;
  text-align: center;
  font-size: $font-size-sm;
  color: color(grey);

  .block {
    padding: $spacer 0;
  }

  .dropdown-menu {
    font-size: $font-size-sm;
  }

  a {
    color: color(grey);
    @include hover {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.footer-logo {
  height: 50px;

  @include media-breakpoint-up(sm) {
    float: right;
  }
}

.page-header {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-lg;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}
