@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeueLTCom-Th.eot");
  src: url("../../fonts/HelveticaNeueLTCom-Th.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueLTCom-Th.woff2") format("woff2"), url("../../fonts/HelveticaNeueLTCom-Th.woff") format("woff"), url("../../fonts/HelveticaNeueLTCom-Th.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTCom-Th.svg#HelveticaNeueLTCom-Th") format("svg");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeueLTCom-Lt.eot");
  src: url("../../fonts/HelveticaNeueLTCom-Lt.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueLTCom-Lt.woff2") format("woff2"), url("../../fonts/HelveticaNeueLTCom-Lt.woff") format("woff"), url("../../fonts/HelveticaNeueLTCom-Lt.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTCom-Lt.svg#HelveticaNeueLTCom-Lt") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeueLTCom-Roman.eot");
  src: url("../../fonts/HelveticaNeueLTCom-Roman.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueLTCom-Roman.woff2") format("woff2"), url("../../fonts/HelveticaNeueLTCom-Roman.woff") format("woff"), url("../../fonts/HelveticaNeueLTCom-Roman.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../../fonts/HelveticaNeueLTCom-Hv.eot");
  src: url("../../fonts/HelveticaNeueLTCom-Hv.eot?#iefix") format("embedded-opentype"), url("../../fonts/HelveticaNeueLTCom-Hv.woff2") format("woff2"), url("../../fonts/HelveticaNeueLTCom-Hv.woff") format("woff"), url("../../fonts/HelveticaNeueLTCom-Hv.ttf") format("truetype"), url("../../fonts/HelveticaNeueLTCom-Hv.svg#HelveticaNeueLTCom-Hv") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF;
}
