/*
  Links

  Markup: <a class="{{modifier_class}}" href="#">Link</a>

  :visited - Different color when state is visited
  :hover - Different color on hover state
  :active - Different color on active state
  .disabled - Differen color on disabled state (it also works with the disabled attribute)

  Style guide: 4.4
*/
a:not(.btn):not(.button):active {
  color: #e56385;
}

a:not(.btn):not(.button).disabled, a:not(.btn):not(.button)[disabled] {
  color: #7b7b7b;
  pointer-events: none;
  cursor: not-allowed;
}

.article a:not(.btn):not(.button):visited {
  color: #62b3e5;
}

.article a:not(.btn):not(.button):visited:hover {
  color: #d51067;
}
