.form-control {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #c1c1c1;
  border-radius: 0;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #333333;
  background-color: #fff;
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 3px rgba(98, 179, 229, 0.5);
}

.form-control::placeholder {
  color: #5e5e5e;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #eceeef;
  opacity: 1;
}

.form-control:disabled {
  cursor: not-allowed;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2rem - 2px);
}

select.form-control:focus::-ms-value {
  color: #333333;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
}

.col-form-label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
}

.col-form-label-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
}

.col-form-label-sm {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
}

.col-form-legend {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0;
  font-size: 1rem;
}

.form-control-static {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.5;
  border: solid transparent;
  border-width: 1px 0;
}

.form-control-static.form-control-sm, .form-control-static.form-control-lg {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm {
  padding: 0.125rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0;
}

select.form-control-sm:not([size]):not([multiple]) {
  height: 1.562rem;
}

.form-control-lg {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0;
}

select.form-control-lg:not([size]):not([multiple]) {
  height: 2.667rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}

.form-check {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
}

.form-check + .form-check {
  margin-top: -.25rem;
}

.form-check.disabled .form-check-label {
  color: #818a91;
  cursor: not-allowed;
}

.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
}

.form-check-input {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem;
}

.form-check-input:only-child {
  position: static;
}

.form-check-inline {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
}

.form-check-inline + .form-check-inline {
  margin-left: .75rem;
}

.form-check-inline.disabled {
  color: #818a91;
  cursor: not-allowed;
}

.form-control-feedback {
  margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 3rem;
  background-repeat: no-repeat;
  background-position: center right 0.5rem;
  background-size: 1rem 1rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .form-check-label,
.has-success .form-check-inline,
.has-success .custom-control {
  color: #6cc04a;
}

.has-success .form-control {
  border-color: #6cc04a;
}

.has-success .form-control:focus {
  box-shadow: none, 0 0 6px #a9da96;
}

.has-success .input-group-addon {
  color: #6cc04a;
  border-color: #6cc04a;
  background-color: #e7f5e1;
}

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#6cc04a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .form-check-label,
.has-warning .form-check-inline,
.has-warning .custom-control {
  color: #f78d2d;
}

.has-warning .form-control {
  border-color: #f78d2d;
}

.has-warning .form-control:focus {
  box-shadow: none, 0 0 6px #fbc28f;
}

.has-warning .input-group-addon {
  color: #f78d2d;
  border-color: #f78d2d;
  background-color: #fef8f2;
}

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#f78d2d' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .form-check-label,
.has-danger .form-check-inline,
.has-danger .custom-control {
  color: #e56385;
}

.has-danger .form-control {
  border-color: #e56385;
}

.has-danger .form-control:focus {
  box-shadow: none, 0 0 6px #f4bac9;
}

.has-danger .input-group-addon {
  color: #e56385;
  border-color: #e56385;
  background-color: white;
}

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#e56385' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

@media (min-width: 576px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .form-control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-check {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-check-label {
    padding-left: 0;
  }
  .form-inline .form-check-input {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.form-control {
  font-family: inherit;
  max-width: 100%;
}

.form-control.error {
  border-color: #e56385;
}

.form-control-label {
  font-weight: 700;
  color: #7b7b7b;
  cursor: pointer;
}

.form-control-label.form-required::after {
  content: "*";
  color: #e56385;
  padding-left: .2rem;
}

.form-inline .form-group {
  display: block;
  margin-top: 1rem;
}

.form-inline .form-control {
  margin-top: 0;
}

.form-inline .form-control-label {
  text-transform: uppercase;
  font-weight: 400;
}

.text-format-wrapper .form-group {
  margin-bottom: 0;
}

.form-description {
  color: #999999;
  display: block;
}

.form-group > .form-description,
.checkbox > .form-description {
  display: inline-block;
  margin-top: .5rem;
}

.has-error .form-control-feedback,
.has-error .form-control-label,
.has-error .form-check-label,
.has-error .form-check-inline,
.has-error .custom-control {
  color: #e56385;
}

.has-error .form-control {
  border-color: #e56385;
}

.has-error .form-control:focus {
  box-shadow: none, 0 0 6px #f4bac9;
}

.has-error .input-group-addon {
  color: #e56385;
  border-color: #e56385;
  background-color: white;
}

.has-error .form-control-label {
  color: #e56385;
}

/**
 * @file
 * Fieldgroup border reset.
 *
 * @todo What is this? Replace with Bootstrap styles.
 */
.fieldgroup {
  border-width: 0;
  padding: 0;
}

/*# sourceMappingURL=forms.css.map */
