@import "index";

/**
 * Table drag styles.
 */
body.drag {
  cursor: move;
}
tr.region-title {
  font-weight: bold;
}
tr.region-message {
  color: #999;
}
tr.region-populated {
  display: none;
}
tr.add-new .tabledrag-changed {
  display: none;
}

.tabledrag-toggle-weight-wrapper {
  text-align: right;
  [dir="rtl"] & {
    text-align: left;
  }
}

.tabledrag-toggle-weight {
  float: right;
  margin-bottom: $spacer;
}
.tabledrag-changed-warning {
  margin: 0;
  overflow: hidden;
}
.tabledrag-handle {
  color: $gray-light;
  cursor: move;
  float: left;
  font-size: 125%;
  line-height: 1;
  margin: -10px 0 0 -10px;
  padding: 10px;
  &:hover, &:focus {
    color: $brand-primary;
  }
}
.indentation {
  float: left; /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em; /* LTR */
  padding: 0.42em 0 0.42em 0.6em; /* LTR */
  width: 20px;
  [dir="rtl"] & {
    float: right;
    margin: -0.4em -0.4em -0.4em 0.2em;
    padding: 0.42em 0.6em 0.42em 0;
  }
}
